<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.ssm.mapper.UserMapper">

    <!-- 带条件的获取总计路数 -->
    <select id="getTotal" parameterType="queryVo" resultType="int">
        <!-- 引入指定的sql语句 -->
        select count(*) from sys_user
        <where>
            is_activited=0
            <!-- 拼接sql语句 -->
            <if test="entity!=null">
                <if test="entity.loginName!=null and entity.loginName!=''">
                    and login_name like '%${entity.loginName}%'
                </if>
                <!-- 其它条件 -->
                <if test="entity.realName!=null and entity.realName!=''">
                    and real_name like '%${entity.realName}%'
                </if>

            </if>
        </where>
    </select>
</mapper>

