<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.ssm.mapper.UserMapper">

    <!-- 带条件的获取总计路数 -->
    <select id="getTotal"  resultType="int">
        <!-- 引入指定的sql语句 -->
        select count(*) from sys_user

        where 1 = 1
        <if test="loginName != null and loginName != ''">
            and login_name =#{loginName}
        </if>
        <if test="column != null">
            order by ${column} ${sort}
        </if>

    </select>
    <sql id="selectId">
        id,
        login_name loginName,
        real_name realName,
        password,
        age,
        sex,
        birthday,
        create_time createTime,
        update_time updateTime
    </sql>
    <select id="findUserPage" resultType="com.ssm.util.UserFormMap">
        select
        <include refid="selectId" />
        from sys_user
        where 1 = 1
        <if test="loginName != null and loginName != ''">
            and login_name =#{userFormMap.loginName}
        </if>
        <if test="column != null">
            order by ${column} ${sort}
        </if>
        limit ${startNumber},${endNumber}
    </select>


</mapper>

